@import url('../fonts/Bauhaus_.ttf')
@import url('../fonts/din1451alt.ttf')

body
  padding: 0
  margin: 0
  width: 100%
  height: 100%
  font:
    family: "DIN Alternate", sans-serif
    size: 16px
  background:
    image: url(../img/back.jpg)
    size: cover
  overflow-x: hidden

.main-wrapper
  max-width: 700px
  margin: 0 auto
  family: "DIN Alternate", sans-serif

  @media (max-width: 701px)
    //max-width: 360px


.title

  text-align: center
  margin: 3rem auto 3rem
  width: 400px

  img
    width: 100%
  @media (max-width: 501px)
    width: 80%
hr
  margin: 3rem auto
  height: 1px
  border: none
  background: rgba(white, .3)
  width: 90%