.cookie-disclaimer
  .note
    p This site uses cookies. By using our website, you agree to the use of cookies as described in our
    a.iubenda-black.iubenda-embed(href='//www.iubenda.com/privacy-policy/8289165', title='Privacy Policy') Privacy Policy
      script(type='text/javascript').
        (function (w, d) {
          var loader = function () {
            var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0];
            s.src = "//cdn.iubenda.com/iubenda.js";
            tag.parentNode.insertBefore(s, tag);
          };
          if (w.addEventListener) {
            w.addEventListener("load", loader, false);
          } else if (w.attachEvent) {
            w.attachEvent("onload", loader);
          } else {
            w.onload = loader;
          }
        })(window, document);
  .dismiss
    button(onclick='hideCookie()') OK

.title
  img(src='assets/img/logo.png')
.main-wrapper

  .main-container