@import url("../fonts/Bauhaus_.ttf");
@import url("../fonts/din1451alt.ttf");
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "DIN Alternate", sans-serif;
  font-size: 16px;
  background-image: url(../img/back.jpg);
  background-size: cover;
  overflow-x: hidden; }

.main-wrapper {
  max-width: 700px;
  margin: 0 auto;
  family: "DIN Alternate", sans-serif; }

.title {
  text-align: center;
  margin: 3rem auto 3rem;
  width: 400px; }
  .title img {
    width: 100%; }
  @media (max-width: 501px) {
    .title {
      width: 80%; } }

hr {
  margin: 3rem auto;
  height: 1px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  width: 90%; }

.section#news {
  font-family: "DIN Alternate", sans-serif; }
  .section#news .news-wrapper .news-link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: transform 200ms ease-in-out; }
    @media (max-width: 701px) {
      .section#news .news-wrapper .news-link {
        display: block; }
        .section#news .news-wrapper .news-link .img-wrapper {
          margin: 2rem auto !important; }
        .section#news .news-wrapper .news-link .cta-wrapper {
          text-align: center !important; }
          .section#news .news-wrapper .news-link .cta-wrapper .button {
            max-width: 400px;
            margin-left: auto;
            margin-right: auto; } }
    .section#news .news-wrapper .news-link .img-wrapper {
      width: 300px;
      height: 300px;
      border: 2px solid #bbb;
      margin: 2rem;
      filter: drop-shadow(0 0 0px #00EAFF);
      transition: filter 1400ms ease-in-out; }
      @media (max-width: 361px) {
        .section#news .news-wrapper .news-link .img-wrapper {
          margin: 2rem 0;
          width: 100vw;
          height: 100vw; } }
      .section#news .news-wrapper .news-link .img-wrapper img {
        width: 100%;
        height: 100%; }
    .section#news .news-wrapper .news-link .cta-wrapper {
      text-align: left;
      font-size: 3rem; }
      .section#news .news-wrapper .news-link .cta-wrapper p {
        color: #eee;
        margin: 0; }
      .section#news .news-wrapper .news-link .cta-wrapper .button {
        margin-top: 2rem;
        padding: .8rem 1.6rem;
        background: transparent;
        text-align: center;
        color: #00EAFF;
        border: 3px solid #00EAFF;
        border-radius: .3rem;
        font-size: 2rem;
        transition: all 400ms ease-in-out; }
    .section#news .news-wrapper .news-link:hover {
      transform: scale(1.05); }
      .section#news .news-wrapper .news-link:hover .img-wrapper {
        filter: drop-shadow(0 0 200px #00EAFF); }

.section#videos {
  margin-top: 1rem; }
  .section#videos .container {
    margin: 1rem auto;
    padding: 1rem 0 .2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (max-width: 701px) {
      .section#videos .container {
        padding-top: .2rem; } }
    .section#videos .container .title-bar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .section#videos .container .title-bar .video-title {
        font-family: "DIN Alternate", sans-serif;
        font-size: 2rem;
        color: #ccc; }
        @media (max-width: 701px) {
          .section#videos .container .title-bar .video-title {
            font-size: 1.4rem; } }
        @media (max-width: 420px) {
          .section#videos .container .title-bar .video-title {
            font-size: 1.2rem; } }
      .section#videos .container .title-bar .video-subtitle-txt {
        font-family: Bauhaus, sans-serif;
        font-size: 3.4rem;
        margin: 0 1rem; }
        @media (max-width: 701px) {
          .section#videos .container .title-bar .video-subtitle-txt {
            font-size: 2rem; } }
        @media (max-width: 420px) {
          .section#videos .container .title-bar .video-subtitle-txt {
            font-size: 1.6rem;
            margin: 0 .2rem; } }
      .section#videos .container .title-bar .video-subtitle-img {
        width: auto; }
        @media (max-width: 701px) {
          .section#videos .container .title-bar .video-subtitle-img {
            width: 60vw; } }
        .section#videos .container .title-bar .video-subtitle-img img {
          width: 100%; }
    .section#videos .container .video-container {
      width: 99%;
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 25px;
      height: 0; }
      .section#videos .container .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  .section#videos .extender {
    color: #bbb;
    font-size: 2rem;
    text-align: center;
    border: 2px solid transparent;
    cursor: pointer;
    margin: .4rem auto;
    padding: .5rem 1rem;
    transition: border-color 200ms ease-in-out; }
    @media (max-width: 420px) {
      .section#videos .extender {
        font-size: 1.4rem; } }
    .section#videos .extender:hover {
      border-color: #888; }
  .section#videos #more-videos {
    display: none; }
    .section#videos #more-videos.visible {
      display: block; }

.section#contact {
  padding: 0 3rem 0;
  margin: 0 auto;
  color: #eee;
  text-align: center; }
  .section#contact .contact-wrapper h2 {
    font-size: 3rem;
    margin-bottom: .4rem; }
  .section#contact .contact-wrapper .email {
    font-size: 2rem;
    color: #00EAFF;
    display: block;
    margin: 1rem auto; }
    @media (max-width: 460px) {
      .section#contact .contact-wrapper .email {
        font-size: 7vw; } }
    @media (max-width: 360px) {
      .section#contact .contact-wrapper .email {
        font-size: 6vw; } }
  .section#contact .contact-wrapper .social-media a {
    font-size: 1.6rem;
    text-decoration: none;
    margin: 0 .4rem;
    color: #00EAFF; }
    @media (max-width: 420px) {
      .section#contact .contact-wrapper .social-media a {
        display: block; } }
  .section#contact .newsletter {
    background: rgba(119, 119, 119, 0.5);
    border: 3px dotted rgba(0, 234, 255, 0.7);
    border-radius: 10px;
    margin-top: 1rem;
    padding: 2rem 1rem; }
    .section#contact .newsletter h2 {
      margin: 0;
      color: black; }
  .section#contact .footer {
    margin-top: 2rem;
    margin-bottom: .2rem; }
    .section#contact .footer p {
      margin: 0; }
